---
layout: default
---
<section class="section section-1" id="introduction">
  {% include section-1.html %}
</section>
<section class="section section-2" id="the-problem">
  {% include section-2.html %}
</section>
<section class="section section-3" id="the-stories">
  {% include section-3.html %}
</section>
<section class="section" id="the-method">
  {% include section-4.html %}
</section>
<section class="section" id="the-action">
  {% include section-5.html %}
</section>
<section class="section bg--gray" id="the-project">
  {% include section-6.html %}
</section>
<section class="section bg--black" id="join-us">
  {% include section-7.html %}
</section>
{% include modals.html %}
