.cta__half {
  input {
    max-width: 30rem;
  }

  p {
    font-size: 2.4rem;
  }

  @include media($large-screen-up) {
    @include span-columns(5);

    &:nth-child(2) {
      @include shift(2);
    }
  }
}

.cta__forms {
  @include clearfix();
  padding: 2rem 0;
}

.cta__row {
  @include clearfix();
  padding-bottom: 2rem;
}

.cta__non-button {
  @include span-columns(8);
}

.cta__button {
  @include span-columns(4);

  button {
    width: 100%;
  }
}

.cta__label {
  font-size: 1.8rem;
}

.donate,
.submit {
  display: inline-block;
  background-color: $orange;

  &:focus,
  &:active,
  &:hover {
    background-color: $orange;
  }
}

.cta__donate {
  padding-top: 3rem;

  @include media($large-screen-up) {
    padding-top: 0;
  }
}

.cta__social {
  h3 {
    float: left;
    padding: .8rem 0;
  }

  .social-icons {
    float: left;
  }

  .icon__item {
    float: left;
    width: 4rem;
    margin-left: 1rem;
  }
}
