.connector {
  position: relative;
  width: 100%;
  z-index: -1;

  .seg {
    border-style: dashed;
    border-color: $light-gray;
    position: absolute;
  }

  .seg--up {
    border-width: 1px;
    width: 2px;
  }

  .seg--horizontal {
    border-width: 1px;
  }
}

.connector--1 {
  .seg--1 {
    height: 5rem;
    right: 50%;
    top: 0;
  }

  .seg--2,
  .seg--3 {
    display: none;
  }
}

.connector--2,
.connector--3,
.connector--4,
.connector--5 {
  position: absolute;
  width: 50%;
}

.connector--2 {
  top: 20rem;

  .seg--1 {
    top: 0;
    height: 2rem;
    left: 10%;
  }

  .seg--2 {
    width: 80%;
    left: 10%;
    top: 2rem;
  }
}

.connector--3 {
  right: 0;
  top: 21rem;

  .seg--1 {
    right: 5%;
    height: 2rem;
  }

  .seg--2 {
    top: 2rem;
    right: 5%;
    width: 50%;
  }
}

.connector--4 {
  top: -9rem;

  .seg--1 {
    height: 9rem;
  }

  .seg--2 {
    width: 58%
  }
}

.connector--5 {
  right: 0;
  top: -2rem;

  .seg--1 {
    height: 6rem;
    right: 5%;
  }

  .seg--2 {
    right: 5%;
    width: 60%
  }
}

@include media($medium-screen-up) {
  .connector--1 {
    .seg--1 {
      right: 20%;
      height: 3rem;
    }

    .seg--2 {
      display: block;
      width: 60%;
      top: 3rem;
      left: 20%;
    }

    .seg--3 {
      display: block;
      top: 3.3rem;
      left: 20%;
      height: 3rem;
    }
  }

  .connector--2 {
    top: 15rem;

    .seg--1 {
      right: 5%;
      top: 2rem;
      height: 4rem;
      left: auto;
    }

    .seg--2 {
      right: 5%;
      left: auto;
      width: 25%;
    }
  }

  .connector--3 {
    .seg--1 {
      height: 4rem;
    }

    .seg--2 {
      top: 4rem;
      width: 65%;
    }
  }

  .connector--4 {
    top: -10rem;
    left: 5%;

    .seg--1 {
      height: 8rem;
    }

    .seg--2 {
      width: 60%;
    }
  }

  .connector--5 {
    .seg--2 {
      width: 70%;
    }
  }
}

@include media($large-screen-up) {
  .connector--2 {
    top: 10rem;

    .seg--1 {
      right: 5%;
      top: 2rem;
      left: auto;
    }

    .seg--2 {
      right: 5%;
      left: auto;
      width: 40%;
    }
  }

  .connector--3 {
    .seg--2 {
      width: 50%;
    }
  }

  .connector--4 {
    top: -17rem;

    .seg--1 {
      height: 15rem;
    }

    .seg--2 {
      width: 45%;
    }
  }

  .connector--5 {
    top: 2rem;

    .seg--1 {

    }

    .seg--2 {
      width: 70%;
    }
  }
}
