.cycle {
  @include clearfix();
}

.cycle__content {
  p[aria-hidden="true"] {
    display: none;
  }
}

.cycle__button {
  @include transition(all .2s);
  background: none;
  border: 1px solid transparent;
  color: $light-gray;
  padding: 1rem;
  font-weight: normal;

  &.active,
  &:active,
  &:hover {
    background: none;
    color: $black;
  }

  &:focus {
    background: none;
    color: $black;
  }

  &:hover {
    background: none;
    color: $black;
  }

  &[data-controls-tab="1"] {
    &.active,
    &:active,
    &:hover {
      border-color: $orange;
    }
  }

  &[data-controls-tab="2"] {
    &.active,
    &:active,
    &:hover {
      border-color: $yellow;
    }
  }

  &[data-controls-tab="3"] {
    &.active,
    &:active,
    &:hover {
      border-color: $purple;
    }
  }

  &[data-controls-tab="4"] {
    &.active,
    &:active,
    &:hover {
      border-color: $red;
    }
  }
}

.cycle__graphic {
  position: relative;
}

.cycle__stage {
  @include transition(opacity .4s);
  top: 0;
  right: 0;
}

@include media($large-screen-up) {
  .cycle {
    min-height: 400px;
  }

  .cycle__controls {
    @include span-columns(6);
    padding-top: 4rem;
  }

  .cycle__graphic {
    @include span-columns(6);
  }
}
