.footer {
  background-color: $black;
  color: $white;
  border-top: 1px solid $white;
}

.contributor__name {
  display: table-cell;
  height: 5rem;
  margin-top: 2rem;
  vertical-align: bottom;
  margin-bottom: 1rem;
}

@include media($large-screen-up) {
  .contributor {
    @include span-columns(3);
  }

  .contributor__name {
    height: 5rem;
    vertical-align: middle;
  }
}
