.footer {
  background-color: $black;
  color: $white;
  border-top: 1px solid $white;
  padding: 4rem 0;
}

.contributor__name {
  display: block;
  margin: 4rem 0 2rem 0;
  width: 100%;

  h3 {
    margin: 0;
  }

  img {
    display: block;
    height: auto;
    max-width: 100%;
  }
}

@include media($medium-screen-up) {
  .contributor {
    @include span-columns(3);
  }

  .contributor__name {
    height: 10rem;
    margin: 0 0 2rem 0;

    h3 {
      line-height: 2rem;
      padding-top: 8rem;
    }
  }
}
