.site-header {
  @include clearfix();
  background-color: rgba(255,255,255,.8);
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem;
  z-index: 900;
}

.site-title {
  background-image: url('/assets/img/justice-trap-logo.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
  display: block;
  color: $black;
  float: left;
  font-weight: bold;
  font-size: 1.6rem;
  padding-left: 4rem;

  &:hover {
    color: $red;
  }

  @include media($large-screen-up) {
    padding-left: 5rem;
    padding-top: .5rem;
    height: 3.4rem;
  }
}
