.hero {
  background-image: url('/assets/img/hero.png');
  background-size: cover;
  background-position: center center;
  min-height: 60vh;
  position: relative;
  overflow: hidden;

  .section__content {
    min-height: 60vh;
  }
}


.hero__heading {
  position: absolute;
  bottom: 4rem;
}

.lead {
  background-color: $black;
  padding: 1.5rem 0;

  p {
    font-size: 2rem;
    color: $white;
    text-align: center;
  }
}

@include media($large-screen-up) {
  .hero,
  .hero .section__content {
    min-height: 90vh;
  }

  .hero__heading {
    font-size: 5rem;
    bottom: 4rem;
    left: 0;
  }

  .lead {
    padding: 4rem 0;

    p {
      @include span-columns(8);
      @include shift(2);
      font-size: 2.4rem;
    }
  }
}
