.issues {
  background: url('../img/cycle-issues.svg') no-repeat;
  background-position: -4rem 0;
  background-size: 40rem;

  .section__content {
    padding-bottom: 1rem;
  }

  
  @include media($large-screen-up) {
    background-position: -4rem -10rem;
  }
  
  @include media($medium-screen-up) {
    background-size: 50%;
    background-position: -4rem 20%;
  }
}

.issues__details {
  background: $white;
  position: relative;
  margin-top: 24rem;
  border: 2px solid $red;
  padding: 2rem;

  &:after {
    @include triangle(3.6rem, $white, up);
    content: '';
    position: absolute;
    top: -1.8rem;
    right: 4.2rem;
  }

  &:before {
    @include triangle(4rem, $red, up);
    content: '';
    position: absolute;
    top: -2rem;
    right: 4rem;
  }

  @include media($medium-screen-up) {
    @include span-columns(6);
    @include shift(6);
    margin-top: 0;

    &:after {
      @include triangle(3.6rem, $white, left);
      content: '';
      position: absolute;
      top: calc(36% + 2px);
      left: -3.6rem;
    }

    &:before {
      @include triangle(4rem, $red, left);
      content: '';
      position: absolute;
      top: 36%;
      left: -4rem;
    }
  }
}

.issue {
  @include clearfix();
  padding-bottom: 2rem;

  @include media($large-screen-up) {
    padding: 0 3rem 2rem 3rem;
  }
}

.img--outline {
  border: 1px solid $light-gray;
}

.issue__label {
  font-weight: normal;
  font-size: 1.4rem;
  color: $dark-gray;
}

.issue__half {
  width: 48%;
  margin: 0 1%;
  float: left;
}

.big-number {
  font-weight: bold;
  display: block;
  font-size: 4rem;
  line-height: 1;
}

.big-number__label {
  font-size: 1.2rem;
  line-height: 1.4;
  display: block;
}

// Actions
.action {
  position: relative;

  .headline {
    width: 100%;
  }

  @include media($large-screen-up) {
    .headline {
      width: 80%;
    }
  }
}

.action__label {
  font-size: 1.6rem;
}

.action__item {
  @include span-columns(6);
  max-width: 25rem;
}

.action__top {
  @include clearfix();
  position: relative;
}

.action__bottom {
  @include clearfix();
  position: relative;
}

.cycle-action {
  display: block;
  margin: 0 auto;
  max-width: 20rem;

  @include media($large-screen-up) {
    max-width: 50rem;
  }
}

.action__2 {
  float: right;

  @include media($medium-screen-up) {
    position: relative;
    top: -2rem;
  }
}

.action__4 {
  float: right;
}

@include media($large-screen-up) {
  .action__graphic {
    position: relative;
    top: -5rem;
  }

  .action__top {
    position: relative;
    top: 5rem;
  }

  .action__bottom {
    position: relative;
    top: -5rem;
  }
}
