.modal-content {
  display: none;
}

/* needed for old browsers */
dialog {
  display: block;
}

/* removes scroll when modal is opened */
.no-scroll {
  overflow: hidden;
}

/* needed for old browsers */
dialog {
  display: block;
}
/* removes scroll when modal is opened */
.no-scroll {
  overflow: hidden;
}
/* overlay covers everything */
.simple-modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0,0,0,.8);
  opacity: .8;
  z-index: 900;
  cursor: pointer;
}
/* modal */
.simple-modal {
  position: fixed;
  left: 1%;
  top: 1%;
  width: 98%;
  bottom: 1%;
  background-color: transparent;
  border: none;
  padding: 0;
  right: auto;
  z-index: 1000;
  overflow: auto;
  padding: 4rem 0;
}

.simple-modal-close {
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent;
  border-radius: 2rem;
  color: $white;
  padding: 1rem;
  text-decoration: none;
  line-height: 1.2;
  text-align: center;
  margin: 2px;

  &:active,
  &:focus,
  &:hover {
    background-color: transparent;
  }

  &:focus {
    outline: 1px solid $light-gray;
  }
}

.simple-modal-overlay[data-background-click="disabled"] {
  cursor: auto;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  width: 100%;
  overflow: hidden;

  iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
@include media($medium-screen-up) {
  .simple-modal {
    left: 5%;
    top: 5%;
    bottom: 5%;
    width: 90%;
  }
}

@include media($large-screen-up) {
  left: 15%;
  top: 5%;
  width: 70%;
  max-height: 98vh;
}
