.page-nav {
  display: none;
  float: right;
  font-size: 1.6rem;
  list-style: none;
  margin: 0;
  padding: 0;
  top: 0;
  right: 0;
  z-index: 900;
}

.page-nav__item {
  display: block;
  float: left;
  margin: 0;

  &.active {
    border-bottom: 4px solid $orange;
  }
}

.page-nav__link {
  @include transition(all .2s);
  color: $black;
  padding: 1rem;

  &:hover {
    color: $red;
  }
}

.page-nav__link--join {
  border: 1px solid $black;
  border-radius: 5rem;
  padding: 1rem 2rem;

  &:hover,
  &:active {
    background-color: $red;
    border-color: $red;
    color: $white;
  }
}

@include media($medium-screen-up) {
  .page-nav {
    display: block;
  }
}
