.section {
  padding: 0;
  position: relative;
}

.section__content {
  @include outer-container();
  padding: 2rem;
  position: relative;
  z-index: 100;
}

// Section 2
.section-2 {
  border-bottom: 1rem solid $black;
  padding: 2rem 0;

  @include media($large-screen-up) {
    padding: 4rem 0;
  }
}

.section-3 {
  border-bottom: 1rem solid $black;
  overflow: hidden;
  position: relative;
}

.section-5 {
  background-color: #E7E8E9;
  padding: 2rem 0;

  .headline {
    border-top: 1px solid $medium-gray;
    padding-top: 2rem;
  }
}

.section-6 {
  background-color: $black;
  color: $white;
}
