[data-tab][aria-hidden="true"] {
  display: none !important;
}

.tab-nav {
  display: table;
  width: 100%;

  @include media($large-screen-up) {
    display: block;
    width: auto;

    button {
      font-size: 1.8rem;
    }
  }
}

.tab-nav__item {
  display: table-cell;

  @include media($large-screen-up) {
    display: block;
  }
}
