.headline {
  color: $black;
  display: block;
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 1;
  white-space: pre-line;
}

.headline__highlight {
  color: $white;
  display: inline-block;
  line-height: .6;
  padding: .5rem 2rem;
}

// .headline__chunk {
//   display: inline-block;
//   margin-bottom: 1rem;
//   padding: 1rem;
//
//   &.orange {
//     background-color: $orange;
//   }
//
//   &.purple {
//     background-color: $purple;
//   }
// }

// Color styles
.t-orange--inverse {
  background-color: $orange;
  color: #fff;
}

.t-purple--inverse {
  background-color: $purple;
  color: #fff;
}

.t-black--inverse {
  background-color: $black;
  color: #fff;
}

.t-red--inverse {
  background-color: $red;
  color: #fff;
}

.t-orange {
  color: $orange;
}

.t-purple {
  color: $purple;
}

.t-bold {
  font-weight: bold;
}

.t-lead {
  font-size: 2.4rem;
  text-align: center;
}

@include media($medium-screen-up) {

}

@include media($large-screen-up) {
  .text-column {
    @include span-columns(6);
  }
  
  .headline {
    font-size: 4.2rem;
  }
}
