// Video tabs
.video-tabs__panel {
  position: relative;
  padding-top: 53%;
  left: 0;
  right: 0;
  width: 100%;
  overflow: hidden;

  @include media($large-screen-up) {
    overflow: visible;
    position: static;
    padding-top: 35%;
  }
}

.video-tabs__container {
  @include outer-container();
  position: relative;
  padding: 0 2rem;

  @include media($large-screen-up) {
    margin-top: -35%;
    width: 100%;
  }
}

.video-tabs__panel-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  img {
    width: 100%;
  }

  @include media($large-screen-up) {
    img {
      width: auto;
      min-width: 100%;
    }
  }
}

.video-tabs__controls {
  background-color: #E3E0DA;
  z-index: 200;

  @include media($large-screen-up) {
    background-color: rgba(#E3E0DA, .8);
    position: relative;
    bottom: 0;
  }
}

.video-tabs__headline {
  position: absolute;
  left: 2rem;
  bottom: 1rem;

  @include media($large-screen-up) {
    top: 4rem;
  }
}

.video-tabs__nav {
  @include clearfix();
  font-size: 1.2rem;
  padding: 0;
}

.video-tabs__content {
  position: relative;
  padding: 2rem 1rem 1rem 1rem;

  @include media($medium-screen-up) {
    padding: 0;
    width: 80%;
  }
}

.video-trigger {
  background: $black;
  border-radius: 20rem;
  position: relative;
  padding-right: 4rem;
  display: block;

  &:active,
  &:focus,
  &:hover {
    background-color: $red;
  }

  &:after {
    @include triangle(.8rem 1rem, $white, right);
    content: '';
    position: absolute;
    right: 1.5rem;
    top: 1.2rem;
  }
}

.video-tab__button {
  @include transition(all .2s);
  background: none;
  border: 1px solid $light-gray;
  color: #333;
  width: 100%;
  padding: .8rem .5rem;
  font-size: 1.2rem;
  font-weight: normal;

  &.active,
  &.active:focus,
  &:active:hover:not(.is-disabled),
  &:hover:not(.is-disabled) {
    border-color: $red;
    background: $red;
    color: $white;
  }

  &:focus:not(.is-disabled) {
    background: none;
    color: $black;
  }

  &.is-disabled:hover {
    background: none;
  }

  &.is-disabled {
    font-style: italic;
  }
}

.cycle-heading {
  padding-left: 5rem;
  line-height: 2;
  margin-bottom: .5rem;
}

.cycle--processed-trapped {
  background: url('../img/cycle-icon-processed-trapped.svg') no-repeat;
}

.cycle--processed {
  background: url('../img/cycle-icon-processed.svg') no-repeat;
}

.cycle--targeted-processed {
  background: url('../img/cycle-icon-targeted-processed.svg') no-repeat;
}

@include media($large-screen-up) {
  .video-tabs__content {
    @include span-columns(8);
    padding: 0;
  }

  .video-tabs__nav {
    @include span-columns(3);
    @include shift(1);
    @include omega();
    float: right;
    padding: 0;

    .tab-nav__item {
      display: block;
      float: none;
      width: 100%;
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }

      button {
        width: 100%;
      }
    }
  }
}
