<footer class="footer">
  <div class="section__content">
    <div class="clearfix">
      <h2 class="footer__heading">Contributors</h2>
      <div class="contributor">
        <div class="contributor__name">
          <a href="http://bds.org/"><img src="assets/img/logo-bds.svg" alt="Brooklyn Defender Services logo"></a>
        </div>
        <p><a href="http://bds.org/">BDS</a> is the largest provider of legal defense services to Brooklyn residents who cannot afford to retain an attorney, representing more than 45,000 clients each year and providing specialized services for those in need.</p>
      </div>
      <div class="contributor">
        <div class="contributor__name">
          <a href="http://www.newmediaadvocacy.org/"><img src="assets/img/logo-nmap.svg" alt="New Media Advocacy Project logo"></a>
        </div>
        <p><a href="http://www.newmediaadvocacy.org/">The New Media Advocacy Project</a> advances human rights by merging law with multimedia storytelling to produce tactical videos designed to win cases, mobilize communities, and make the technical language of law accessible to everyone.</p>
      </div>
      <div class="contributor">
        <div class="contributor__name">
          <h3>Ed Kashi</h3>
        </div>
        <p><a href="http://edkashi.com">Ed Kashi</a> is a photojournalist, filmmaker and educator dedicated to documenting the social and political issues that define our times. A member of VII Photo Agency, Kashi’s images have been published and exhibited worldwide.</p>
      </div>
      <div class="contributor">
        <div class="contributor__name">
          <h3>Molly Crabapple</h3>
        </div>
        <p><a href="http://mollycrabapple.com">Molly Crabapple</a> is an artist and writer in New York. She has drawn in Guantanamo Bay, Abu Dhabi's migrant labor camps, and with rebels in Syria. Crabapple has written for publications including The New York Times, Paris Review, and Vanity Fair.</p>
      </div>
    </div>
  </div>
</footer>
