<footer class="site-footer">
  <div class="section__content">
    <div class="clearfix">
      <h2 class="footer__heading">Contributors</h2>
      <div class="contributor">
        <a href="http://bds.org/"><img class="contributor__name" src="assets/img/logo-bds.svg" alt="Brooklyn Defender Services logo"></a>
        <p><a href="http://bds.org/">BDS</a> is the largest provider of legal defense services to Brooklyn residents who cannot afford to retain an attorney. One of the nation’s most well-respected legal defense organizations, BDS represents more than 45,000 clients each year and provides specialized services for those in need.</p>
      </div>
      <div class="contributor">
        <a href="http://www.newmediaadvocacy.org/"><img class="contributor__name" src="assets/img/logo-nmap.svg" alt="New Media Advocacy Project logo"></a>
        <p><a href="http://www.newmediaadvocacy.org/">The New Media Advocacy Project</a> advances human rights by merging law with multimedia storytelling to produce tactical videos designed to win cases, mobilize communities, and make the technical language of law accessible to everyone.</p>
      </div>
      <div class="contributor">
        <h3 class="contributor__name">Ed Kashi</h3>
        <p>Ed Kashi is a photojournalist, filmmaker and educator dedicated to documenting the social and political issues that define our times. A member of VII Photo Agency, Kashi’s images have been published and exhibited worldwide.</p>
      </div>
      <div class="contributor">
        <h3 class="contributor__name">Molly Crabapple</h3>
        <p>Molly Crabapple is an artist and writer in New York. She has drawn in Guantanamo Bay, Abu Dhabi's migrant labor camps, and with rebels in Syria. Crabapple has written for publications including The New York Times, Paris Review, and Vanity Fair.</p>
      </div>
    </div>
  </div>
</footer>
