<header id="site-header" class="site-header">
  <div class="container">
    <a class="site-title" href="#introduction">{{ site.title }}</a>
    <nav>
      <ul id="menu" class="page-nav js-page-nav">
        <li data-menuanchor="section-1" class="page-nav__item"><a href="#the-problem" class="page-nav__link">The Problem</a></li>
        <li data-menuanchor="section-2" class="page-nav__item"><a href="#the-solution" class="page-nav__link">The Solution</a></li>
        <li data-menuanchor="section-3" class="page-nav__item"><a href="#the-need" class="page-nav__link">The Need</a></li>
        <li data-menuanchor="section-4" class="page-nav__item"><a href="#join-us" class="page-nav__link page-nav__link--join">Join Us</a></li>
      </ul>
    </nav>
  </div>
</header>
