<header class="site-header">
  <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
  <nav>
    <ul id="menu" class="page-nav">
      <li data-menuanchor="section-1" class="page-nav__item"><a href="#section-1" class="page-nav__link">Trap</a></li>
      <li data-menuanchor="section-2" class="page-nav__item"><a href="#section-2" class="page-nav__link">The Stories</a></li>
      <li data-menuanchor="section-3" class="page-nav__item"><a href="#section-3" class="page-nav__link">Opportunity</a></li>
      <li data-menuanchor="section-4" class="page-nav__item"><a href="#section-4" class="page-nav__link">Why</a></li>
    </ul>
  </nav>
</header>
