<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <meta http-equiv="cache-control" content="public">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Facebook -->
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:image" content="{{ site.url }}/assets/img/facebook.png">
    <meta property="og:description" content="{{ site.description }}">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="{{ site.url }}">
    <meta name="twitter:creator" content="@thejusticetrap">
    <meta name="twitter:title" content="{{ site.title }}">
    <meta name="twitter:description" content="{{ site.description }}">
    <meta name="twitter:image" content="{{ site.url }}assets/img/twitter.png">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="shortcut icon" href="assets/img/favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="{{ "assets/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!--[if IE 8]>
    <script type="text/javascript" src="assets/js/html5shiv.min.js"></script>
    <![endif]-->
</head>
