<header id="site-header" class="site-header">
  <div class="container">
    <a class="site-title js-scroll-link" href="#introduction">{{ site.title }}</a>
    <nav>
      <ul id="menu" class="page-nav js-page-nav">
        <li class="page-nav__item"><a href="#the-problem" class="page-nav__link js-scroll-link">The Problem</a></li>
        <li class="page-nav__item"><a href="#the-stories" class="page-nav__link js-scroll-link">The Stories</a></li>
        <li class="page-nav__item"><a href="#the-method" class="page-nav__link js-scroll-link">The Method</a></li>
        <li class="page-nav__item"><a href="#the-action" class="page-nav__link js-scroll-link">The Action</a></li>
        <li class="page-nav__item"><a href="#the-project" class="page-nav__link js-scroll-link">The Project</a></li>
        <li class="page-nav__item"><a href="#join-us" class="page-nav__link page-nav__link--join js-scroll-link">Join Us</a></li>
      </ul>
    </nav>
  </div>
</header>
