<div id="video-1" aria-hidden="true" class="modal-content">
  <div class="video-container">
    <iframe src="https://player.vimeo.com/video/144564107" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>

<div id="video-2"  aria-hidden="true" class="modal-content">
  <div class="video-container">
    <iframe src="https://player.vimeo.com/video/144564108" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>

<div id="video-3"  aria-hidden="true" class="modal-content">
  <div class="video-container">
    <iframe src="https://player.vimeo.com/video/144425792" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>
