<div class="action">
  <div class="section__content">
    <h2 class="headline">
      And connect directly with local reform movements to seize opportunities for <span class="headline__highlight t-red--inverse">action and change.</span>
    </h2>
    <div class="action__graphic">
      <div class="action__top">
        <div class="action__1 action__item">
          <h3 class="action__label">Processed</h3>
          <a href="http://www.capitalnewyork.com/article/albany/2015/09/8577262/criminal-justice-advocates-push-new-evidence-rules" target="blank"><img src="assets/img/action-01.jpg" class="cycle-action__item" alt="Photo of a gavel and stack of papers"></a>
          <span class="t-caption">Advocates ask New York to join other states in requiring complete, early and automatic ‘open file discovery’ in criminal prosecutions.</span>
        </div>
        <div class="connector connector--2">
          <div class="seg seg--up seg--1"></div>
          <div class="seg seg--horizontal seg--2"></div>
        </div>
        <div class="connector connector--3">
          <div class="seg seg--up seg--1"></div>
          <div class="seg seg--horizontal seg--2"></div>
        </div>
        <div class="action__2 action__item">
          <h3 class="action__label">Punished</h3>
          <a href="http://www.vera.org/project/pathways-prison-postsecondary-education-project" target="blank"><img src="assets/img/action-02.jpg" class="cycle-action__item" alt="Image of inmate education program"></a>
          <span class="t-caption">Pilot programs in Michigan, New Jersey and North Carolina demonstrate how offering inmates quality college education is a smart investment.</span>
        </div>
      </div>
      <img src="assets/img/cycle-action.svg" class="cycle-action" alt="Graphic of the cycle with pieces highlighted">
      <div class="action__bottom">
        <div class="action_3 action__item">
          <h3 class="action__label">Targeted</h3>
          <a href="https://www.nlchp.org/criminalization" target="blank"><img src="assets/img/action-04.jpg" class="cycle-action__item" alt="Photo of protesters marching with a sign that says 'House keys not handcuffs'"></a>
          <span class="t-caption">Advocates for the homeless seek to eliminate laws that criminalize homelessness.</span>
        </div>
        <div class="connector connector--4">
          <div class="seg seg--up seg--1"></div>
          <div class="seg seg--horizontal seg--2"></div>
        </div>
        <div class="connector connector--5">
          <div class="seg seg--up seg--1"></div>
          <div class="seg seg--horizontal seg--2"></div>
        </div>
        <div class="action__4 action__item">
          <h3 class="action__label">Trapped</h3>
          <a href="https://www.themarshallproject.org/2016/02/04/six-states-where-felons-can-t-get-food-stamps#.bDLIlQZZi" target="blank"><img src="assets/img/action-03.jpg" class="cycle-action__item" alt="Photo of a sign that says 'We accept food stamps'"></a>
          <span class="t-caption">Georgia, Indiana and Nebraska are considering lifting or easing bans on convicted drug felons receiving food stamps.</span>
        </div>
      </div>
    </div>
  </div>
</div>