<div class="section__content">
  <h2 class="headline">Reforming our criminal justice system means more than just changing a few laws.</h2>
  <div class="text-column">
    <p>Reforming our criminal justice system means more than just changing a few laws. It means understanding how the system is broken in order to really fix it.</p> 
	<p>The Justice Trap is a multimedia collaboration between advocates and artists that combines interactive design and short documentaries featuring the stories of the people who have suffered as a result of unjust policies and practices.</p>
	<p>Today, there is greater momentum for change than ever. From #blacklivesmatter to #endmassincarceration, we all are asking hard questions about how we can help.</p>
    
  </div>
  <div class="text-column">
    <p>One story at a time, the Justice Trap presents a clear narrative of how the discrete pieces that drive U.S. criminal justice ruin lives, corrode society, and undermine the very goals of reducing crime and keeping us safe.</p>
	<p>The goal: broad overhaul of the system by activating the public and policy makers around specific and actionable policy reforms.</p>
  </div>
</div>
