<div class="section__content">
  <p class="t-lead">This problem is multilayered, with multiple entry points, and requires various actors and players to get involved to dismantle a broken criminal justice system.</p>
  <ul class="three-points">
    <li><span class="headline t-orange">1</span>The system churns out guilty pleas at the expense of justice, and ensnares people in the cycle of poverty and incarceration. </li>
    <li><span class="headline t-orange">2</span>The disenfranchised, the poor, and communities of color are trapped at uneven rates.</li>
    <li><span class="headline t-orange">3</span>Instead of rehabilitation and support, we pour money and resources into punishment.</li>
  </ul>
</div>
