  <div class="js-tabs video-tabs">
    <div class="video-tabs__panel">
      <div class="video-tabs__panel-bg" data-tab="1" aria-hidden="false">
        <img src="assets/img/story-colyssa.jpg" alt="Photo of Colyssa">
      </div>
      <div class="video-tabs__panel-bg" data-tab="2" aria-hidden="true">
        <img src="assets/img/story-kejaun.jpg" alt="Photo of Kejaun">
      </div>
      <div class="video-tabs__panel-bg" data-tab="3" aria-hidden="true">
        <img src="assets/img/story-bail.jpg" alt="Photo of man">
      </div>
      <div class="video-tabs__container">
        <h2 class="headline video-tabs__headline">
          <span class="headline__highlight t-black--inverse">Told through the</span>
          <span class="headline__highlight t-black--inverse">stories of those</span>
          <span class="headline__highlight t-black--inverse">with no way out.</span>
        </h2>
      </div>
    </div>
    <div class="video-tabs__controls">
      <div class="section__content">
        <ul class="video-tabs__nav tab-nav">
          <li class="tab-nav__item"><button type="button" data-controls-tab="1" class="video-tab__button active">Colyssa's story</button></li>
          <li class="tab-nav__item"><button type="button" data-controls-tab="2" class="video-tab__button">Kejaun's story</button></li>
          <li class="tab-nav__item"><button type="button" data-controls-tab="3" class="video-tab__button">The bail story</button></li>
        </ul>
        <div class="video-tabs__content">
          <h3 class="cycle-step-2">Targeted and processed</h3>
          <div class="video-tabs__blurb" data-tab="1" aria-hidden="false">
            <p>Colyssa was arrested for endangering the welfare of her child when she went out-side for baby formula. A pending charge has changed her and her family's lives.</p>
            <button  class="js-modal video-trigger"
                     type="button"
                     data-modal-content-id="video-1"
                     data-modal-prefix-class="simple"
                     data-modal-text=""
                     data-modal-title=""
                     data-modal-close-text="Close"
                     data-modal-close-title="Close this window">
              Watch Colyssa's video
            </button>
          </div>
          <div class="video-tabs__blurb" data-tab="2" aria-hidden="true">
          <h3>Processed and trapped</h3>
            <p>Kejaun was charged with felony drug sale. Upon arrest, he lost his job. Even after the criminal charges were dropped, he still can’t find work.</p>
            <button  class="js-modal video-trigger"
                     type="button"
                     data-modal-content-id="video-2"
                     data-modal-prefix-class="simple"
                     data-modal-text=""
                     data-modal-title=""
                     data-modal-close-text="Close"
                     data-modal-close-title="Close this window">
              Watch Kejaun's video
            </button>
          </div>
          <div class="video-tabs__blurb" data-tab="3" aria-hidden="true">
          <h3>Processed</h3>
            <p>Rikers Island is filled with thousands of poor people accused of misdemeanors. They’re not serving time as punishment. They’ve been douns guilty of no crime.</p>
            <button  class="js-modal video-trigger"
                     type="button"
                     data-modal-content-id="video-3"
                     data-modal-prefix-class="simple"
                     data-modal-text=""
                     data-modal-title=""
                     data-modal-close-text="Close"
                     data-modal-close-title="Close this window">
              Watch the bail story
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
