<div class="section__content cta">
  <div class="container">
    <h2 class="headline cta__half">
      <span class="headline__highlight t-red--inverse">We can't do it</span>
      <span class="headline__highlight t-red--inverse">without you.</span>
    </h2>
  </div>
  <div class="cta__forms">
    <div class="cta__half">
      <p class="cta__intro">Join our growing community of public defenders, advocates, artists, and concerned citizens to help abolish the Justice Trap.</p>
    </div>
    <div class="cta__half cta__donate">
      <div class="cta__row">
        <form action="//thejusticetrap.us12.list-manage.com/subscribe/post?u=0a6cd5cbd15769330c7df7b91&amp;id=776ec9ad7d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <label for="mce-EMAIL" class="cta__label">Sign up for updates</label>
          <div class="clearfix">
            <div class="cta__non-button">
              <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0a6cd5cbd15769330c7df7b91_776ec9ad7d" tabindex="-1" value="" aria-label="hidden-field"></div>
            </div>
            <div class="cta__button">
              <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="submit">Sign up</button>
            </div>
          </div>
        </form>
      </div>
      <div class="cta__row">
        <div class="cta__non-button">
          <span class="cta__label">Donate today to support <br>The Justice Trap</span>
        </div>
        <div class="cta__button">
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="QT8YLVL4HC2TG">
          <button class="donate" type="submit">Donate</button>
          <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
        </div>
      </div>
      <div class="cta__row cta__social">
        <h3>Spread the word</h3>
        <ul class="social-icons">
          <li class="icon__item"><a href="https://twitter.com/thejusticetrap"><img src="assets/img/social-twitter.svg" alt="Twitter icon"></a></li>
          <li class="icon__item"><a href="https://www.instagram.com/thejusticetrap/"><img src="assets/img/social-instagram.svg" alt="Instagram icon"></a></li>
          <li class="icon__item"><a href="https://www.facebook.com/thejusticetrap"><img src="assets/img/social-facebook.svg" alt="Facebook icon"></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
