<div class="issues">
  <div class="section__content">
    <h2 class="headline">
      We unpack the <span class="headline__highlight t-red--inverse">issues</span>
      that power this cycle.
    </h2>
    <div class="issues__details">
      <div class="issue">
        <h4 class="issue__label">Short biopics</h4>
        <img src="assets/img/issues-01.jpg" alt="Video still">
      </div>
      <div class="issue">
        <h4 class="issue__label">Animated explainers</h4>
        <img class="img--outline" src="assets/img/issues-02.jpg" alt="Illustration of man looking at three closed doors labeled 'job', 'housing', 'college' and one open door labeled 'prison'">
      </div>
      <div class="issue">
        <div class="issue__half">
          <h4 class="issue__label">Resources</h4>
          <img src="assets/img/issues-map.jpg" alt="Map of USA">
        </div>
        <div class="issue__half">
          <h4 class="issue__label">Facts and figures</h4>
          <span class="big-number">92%</span>
          <span class="big-number__label">of employers subject candidates to background checks.</span>
        </div>
      </div>
      <div class="issue">
        <h4 class="issue__label">Positive reform movements</h4>
        <img src="assets/img/issues-03.jpg" alt="Photo of protest">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="connector connector--1">
    <div class="seg seg--up seg--1"></div>
    <div class="seg seg--horizontal seg--2"></div>
    <div class="seg seg--up seg--3"></div>
  </div>
</div>

<div class="action">
  <div class="section__content">
    <h2 class="headline">
      So we can seize opportunities for  <span class="headline__highlight t-red--inverse">action and change.</span>
    </h2>
    <div class="action__graphic">
      <div class="action__top">
        <div class="action__1 action__item">
          <h4 class="action__label">Access to evidence</h4>
          <img src="assets/img/action-01.jpg" class="cycle-action__item" alt="">
          <span class="t-caption">Ohio moves to require open file discovery to balance information deficit.</span>
        </div>
        <div class="action__2 action__item">
          <h4 class="action__label">Prison conditions</h4>
          <img src="assets/img/action-02.jpg" class="cycle-action__item" alt="">
          <span class="t-caption">California ends indefinite solitary confinement.</span>
        </div>
      </div>
      <img src="assets/img/cycle-action.svg" class="cycle-action" alt="Graphic of the cycle with pieces highlighted">
      <div class="action__bottom">
        <div class="action_3 action__item">
          <h4 class="action__label">Overcriminalization</h4>
          <img src="assets/img/action-03.jpg" class="cycle-action__item" alt="">
          <span class="t-caption">Pittsburgh joins national movement to decriminalize marijuana posession.</span>
        </div>
        <div class="action__4 action__item">
          <h4 class="action__label">Deportation</h4>
          <img src="assets/img/action-04.jpg" class="cycle-action__item" alt="">
          <span class="t-caption">Vera Institute of Justice introduces the first public defender program in the country for immigrants facing deportation.</span>
        </div>
      </div>
    </div>
  </div>
</div>
