<div class="section__content">
  <h2><span class="headline">The <span class="headline__highlight t-red--inverse">Justice Trap</span> breaks down and illustrates the web of unfair policies and practices that drive our criminal justice system.</span></h2>
  <div class="cycle js-cycle">
    <div class="cycle__controls">
      <ul class="cycle__nav">
        <li class="cycle__nav-item"><button type="button" data-tab="1" class="cycle__button active">Targeted</button></li>
        <li class="cycle__nav-item"><button type="button" data-tab="2" class="cycle__button">Processed</button></li>
        <li class="cycle__nav-item"><button type="button" data-tab="3" class="cycle__button">Punished</button></li>
        <li class="cycle__nav-item"><button type="button" data-tab="4" class="cycle__button">Trapped</button></li>
      </ul>
      <div class="cycle__content">
        <p id="content-stage-1" aria-hidden="false">Too many people are arrested for too many crimes, and they're disproportionately the ppor and people of color.</p>
        <p id="content-stage-2" aria-hidden="true">Stage 2</p>
        <p id="content-stage-3" aria-hidden="true">Stage 3</p>
        <p id="content-stage-4" aria-hidden="true">Stage 4</p>
      </div>
    </div>
    <div class="cycle__graphic">
      <div id="stage-1" class="cycle__stage" aria-hidden="false">
        <img src="assets/img/cycle-text-01.svg" width="100%">
      </div>
      <div id="stage-2" class="cycle__stage" aria-hidden="true">
        <img src="assets/img/cycle-text-02.svg" width="100%">
      </div>
      <div id="stage-3" class="cycle__stage" aria-hidden="true">
        <img src="assets/img/cycle-text-03.svg" width="100%">
      </div>
      <div id="stage-4" class="cycle__stage" aria-hidden="true">
        <img src="assets/img/cycle-text-04.svg" width="100%">
      </div>
    </div>
  </div>
</div>
