<div class="issues">
  <div class="section__content">
    <h2 class="headline">
      Users will explore original content and other resources exposing <span class="headline__highlight t-red--inverse">key issues</span> ripe for reform.
    </h2>
    <div class="issues__details">
      <div class="issue">
        <h3 class="issue__label">Short biopics</h3>
        <a href="https://vimeo.com/144564108" target="blank"><img src="assets/img/issues-01.jpg" alt="Video still"></a>
      </div>
      <div class="issue">
        <h3 class="issue__label">Animated explainers</h3>
        <a href="https://vimeopro.com/nmap/the-justice-trap/video/166816242" target="blank"><img class="img--outline" src="assets/img/issues-02.jpg" alt="Illustration of man looking at three closed doors labeled 'job', 'housing', 'college' and one open door labeled 'prison'"></a>
      </div>
      <div class="issue">
        <div class="issue__half">
          <h3 class="issue__label">Resources</h3>
          <a href="http://www.abacollateralconsequences.org/map/"><img src="assets/img/issues-map.jpg" alt="Map of USA"></a>
        </div>
        <div class="issue__half">
          <h3 class="issue__label">Facts and figures</h3>
          <a href="http://www.vera.org/sites/default/files/resources/downloads/states-rethink-collateral-consequences-report-v3.pdf" target="blank"><span class="big-number">92%</span>
          <span class="big-number__label">of employers subject candidates to background checks.</span></a>
        </div>
      </div>
      <div class="issue">
        <h3 class="issue__label">Positive reform movements</h3>
        <a href="http://bantheboxcampaign.org/" target="blank"><img src="assets/img/issues-03.jpg" alt="Photo of protest"></a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="connector connector--1">
    <div class="seg seg--up seg--1"></div>
    <div class="seg seg--horizontal seg--2"></div>
    <div class="seg seg--up seg--3"></div>
  </div>
</div>
