<div class="hero">
  <div class="section__content">
    <h1 class="hero__heading headline">
      <span class="headline__highlight t-black--inverse">Our criminal</span>
      <span class="headline__highlight t-black--inverse">justice</span>
      <span class="headline__highlight t-black--inverse">system is</span>
      <span class="headline__highlight t-black--inverse">a trap</span></h1>
  </div>
  <div class="video-background js-video-background" data-video-src="assets/img/hero">
  </div>
</div>
<div class="lead">
  <div class="section__content">
    <p>The system targets the poor and people of color, churns out guilty pleas, fails to rehabilitate, and traps people in a cycle of poverty and reincarceration.</p>
  </div>
</div>
