<div class="section__content">
  <div class="slide">
    <h2 class="headline t-orange">The <span class="headline--inverse t-purple--inverse">Justice Trap Project</span> illustrates this complex system...</h2>
    <img class="slide-img" src="/assets/img/justicetrap_graphic-01.svg">
  </div>
  <div class="slide">
    Slide 2
    <img class="slide-img" src="/assets/img/justicetrap_graphic-02.svg">
  </div>
  <div class="slide">
    Slide 3
    <img class="slide-img" src="/assets/img/justicetrap_graphic-03.svg">
  </div>
  <div class="slide">
    <img class="slide-img" src="/assets/img/justicetrap_graphic-04.svg">
  </div>
</div>
