<div class="section__content">
  <h2 class="headline headline--inverse t-purple--inverse">...through the stories of those with no way out.</h2>
  <p>Colyssa was arrested for endangering the welfare of her child when she went outside to grab a gallon of milk. A pending charge on her record has changed her life.</p>
  <p>Kejuan is chronically underemployed because of an arrest and charge on his record.</p>
  <p>These stories will be told through multimedia/interactive/video advocacy...</p>
</div>
