<div class="section__content cta">
  <div class="container">
    <h2 class="headline cta__half">
      <span class="headline__highlight t-red--inverse">We can't do it</span>
      <span class="headline__highlight t-red--inverse">without you.</span>
    </h2>
    <div class="cta__half">
      <p>Join our growing community of public defenders, advocates, artists, and concerned citizens to help abolish the Justice Trap.</p>
    </div>
  </div>
  <div class="cta__forms">
    <form class="cta__half">
      <label for="email-input">Sign up for updates</label>
      <input id="email-input" type="email">
      <button type="submit" class="submit">Sign up</button>
    </form>
    <div class="cta__half cta__donate">
      <button class="donate" type="button">Donate today</button>
    </div>
  </div>
</div>
